/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

###add by niepu ###
modified:   .idea/compiler.xml
modified:   .idea/encodings.xml
modified:   .idea/misc.xml
modified:   .idea/modules.xml
modified:   .idea/workspace.xml
